* {
    box-sizing: border-box;
}


header {
    background-color: #3c4cad;
    display: flex;
    justify-content: space-between;
    height: 90px ;
    padding-left: 35px;
}
    
header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
    
header .menu {
    padding: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
    
.menu a {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
      
header  a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
    
.sub_head  {
    background-color:#5e72eb ;
    display: flex;
    justify-content: space-between;
    height: 49px;
    padding: 10px 35px ;
}
    
textarea {
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(211, 205, 204);
    border-width: 2px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #234456;
    margin-bottom: 35px;
    margin-top: 35px;
}

.search input[type="text"] {
    border-radius: 3px;
    border: none;
    width: 250px;
    height: 32px;
    padding-left: 5px;
    margin-right: 15px;
}
    
input[type="submit"] {
    border-radius: 3px;
    border: none;
    width: 100px;
    height: 32px;
    background-color:#56c566;
    color: white;
}
    
.auth a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 10px;
}
    
.news {
    margin-top: 20px;
    margin-left: 40px;
    text-align: justify;
    border: none;
    width: 860px;
}
    
.element {
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(211, 205, 204);
    border-width: 2px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #234456;
    margin-bottom: 35px;
    margin-top: 35px;
}
    
.element .head a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #414141;
    margin-top: 15px;
}
    
.element .head {
    display: flex;
    justify-content: space-between;
}
    
.element .head .p {
    font-family: 'Roboto Thin', arial;
    font-weight: bold;
    color: #414141;
}
    
.main {
    display: flex;
    justify-content: space-between;
    
}
    
.foot {
    display: flex;
    justify-content: space-between;
}
    
.foot p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #414141;
    display: flex;
    justify-content: space-between;
}

.comm_user {
    display: flex;
    justify-content: space-between;
}

img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
    
.text_user {
    padding-left: 10px;
    margin-top: -15px;
}

.text_user h2 {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text_user p {
    font-family: 'Roboto Thin', arial;
    font-weight: bold;
}

.new_comm h2 {
    font-family: 'Roboto Thin', arial;
    font-weight: bold;
}

.new_comm input[type="text"] {
    border: solid;
    border-radius: 5px;
    border-color: rgb(211, 205, 204);
    border-width: 2px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #234456;
    width: 820px;
    height: 200px;
    margin-bottom: 20px;
    
}

.list {
    padding: 20px;
    margin-top: 55px;
    margin-right: 50px;
    border: solid;
    border-radius: 5px;
    height: 320px;
    width: 250px;
    border-color: rgb(211, 205, 204);
    border-width: 2px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px #234456;
}
    
.end {
    display: flex;
    justify-content: space-between;
    background-color: #414141;
    height: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    padding: 20px;
}
    
.end a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

.menu_mobile {
    display: none;
}

.menu_mobile_link {
    display: none;
    background-color: #5e73ebfb;
    width: 100%;
    line-height: 40px;
    padding: 20px 0;
    text-align: center;
    height: 120px;
    border-radius: 5px;
}

.menu_mobile_link a {
    display: block;
    line-height: 10px;
}

.menu_mobile_link a:nth-last-child(2) {
    line-height: 10px;
}

@media screen and (max-width: 800px) {


    menu {
        padding: 20px 20px;
        width: 50px;
        height: 50px;
    }

    header .menu {
        display: none;
    }

    .auth a {
        display: none;
    }
    
    .menu_mobile {
        display: block;
        padding: 20px 20px;
        margin-right: 15px;
    }

    .menu_mobile_link {
        width: 200px;
    }

    .menu_mobile_link a {
        font-size: 20px;
    }

    input[type="text"] {
        width: 70%;
        height: 30px;
        border-radius: 5px;
        outline: none;
    }
        
    input[type="submit"] {
        width: 25%;
    }

    .main {
        width: 100%;
        max-width: 800px;
        flex-wrap: wrap;
        padding: 0;
        padding-bottom: 20px;
        margin: 0 0;
    }

    img {
        max-width: 800px;
        padding-right: 20px;
        margin: 0px;
    }

    .main .news {
        padding: 0px;
        margin: 0px;
        max-width: 100%;
    }
    
    .list {
        width: 100%;
        max-width: 800px;
        padding: 20px;
        margin: 0px;
    }

    .list a {
        text-decoration: none;
    }

    .end {
        padding-top: 20px;
    }

    textarea {
        width: 80%;
    }

    .search input[type="text"] {
        width: 66%;


}
